builds/development/partials/modal-update.html
<div id="updateContact" tabindex="-1" role="dialog" aria-labelledby="Update Contact" ng-controller="UpdateContactCtrl" data-keyboard="false" data-backdrop="static" class="modal fade"><div role="document" class="modal-dialog"><div class="modal-content"><div class="modal-header"><h3>Update Contact Details</h3></div><div class="modal-body"><form ng-submit="updateContact()" name="submitForm"><div ng-show="message" class="alert alert-{{ alertType }}">{{ message }}</div><div class="form-group"><label for="name">Name</label><input type="text" name="name" placeholder="Full Name" ng-model="contact.name" required="required" class="form-control"/></div><div class="form-group"><label for="email">Email</label><input type="email" name="email" placeholder="Email" ng-model="contact.email" required="required" class="form-control"/></div><div class="form-group"><label for="phone-number">Phone Number</label><input type="text" name="phone-number" placeholder="XXXX-XXXXXXX" ng-model="contact.phoneNumber" ng-change="validatePhone()" required="required" class="form-control"/></div><div class="form-group"><label for="city">City</label><input type="text" name="city" placeholder="City" ng-model="contact.city" required="required" class="form-control"/></div><input type="submit" value="Submit" ng-disabled="message" class="btn btn-success"/></form></div><div class="modal-footer"><a type="button" href="/#/" class="btn btn-default">Close</a></div></div></div></div>

templates/partials/modal-update.jade
div(class="modal fade", id="updateContact", tabindex="-1", role="dialog", aria-labelledby="Update Contact", ng-controller="UpdateContactCtrl", data-keyboard="false", data-backdrop="static")
  div(class="modal-dialog", role="document")
    div(class="modal-content")
      div(class="modal-header") 
        h3 Update Contact Details
      div(class="modal-body")
        form(ng-submit="updateContact()", name="submitForm")
          div(class="alert alert-{{ alertType }}" ng-show="message") {{ message }}
          div(class="form-group")
            label(for="name") Name
            input(type="text", class="form-control", name="name", placeholder="Full Name", ng-model="contact.name", required)
          div(class="form-group")
            label(for="email") Email
            input(type="email", class="form-control", name="email", placeholder="Email", ng-model="contact.email", required)
          div(class="form-group")
            label(for="phone-number") Phone Number
            input(type="text", class="form-control", name="phone-number", placeholder="XXXX-XXXXXXX", ng-model="contact.phoneNumber", ng-change="validatePhone()", required)
          div(class="form-group")
            label(for="city") City
            input(type="text", class="form-control", name="city", placeholder="City", ng-model="contact.city", required)
          input(type="submit", class="btn btn-success", value="Submit", ng-disabled="message")
      div(class="modal-footer")
        a(type="button", class="btn btn-default" href="/#/") Close
