builds/development/partials/modal-view.html
<div id="viewContact" tabindex="-1" role="dialog" aria-labelledby="Create Contact" data-keyboard="false" data-backdrop="static" class="modal fade"><div role="document" class="modal-dialog"><div class="modal-content"><div class="modal-header"><h3>{{ contact.name }}</h3></div><div class="modal-body"><p>Phone Number: {{ contact.phoneNumber }}</p><p>Email: {{ contact.email }}</p><p>City: {{ contact.city }}</p></div><div class="modal-footer"><a type="button" href="/#/" class="btn btn-default">Close</a></div></div></div></div>

templates/partials/modal-view.jade
div(class="modal fade", id="viewContact", tabindex="-1", role="dialog", aria-labelledby="Create Contact", data-keyboard="false", data-backdrop="static")
  div(class="modal-dialog", role="document")
    div(class="modal-content")
      div(class="modal-header") 
        h3 {{ contact.name }}
      div(class="modal-body")
        p Phone Number: {{ contact.phoneNumber }}
        p Email: {{ contact.email }}
        p City: {{ contact.city }}
      div(class="modal-footer")
        a(type="button", class="btn btn-default" href="/#/") Close
